div.cart {
    padding: 9px;
    background-color: #ddf;
    float: right;
    position: relative;
    cursor: pointer;
  }
  
  div.popup {
    position: absolute;
    z-index: 200;
    width: 200px;
    height: 150px;
    padding: 15px 20px;
    background-color: #ccd;
    top: 80px;
    right: 0px;
  }
  
  .menu-on {
    display: block;
  }
  
  .menu-off {
    display: none;
  }
  
  .cart ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  
  .cart ul li {
    line-height: 40px;
  }
  